
.home-styles{
    font-family: 'Gulzar', sans-serif;
}
.footer-styles{
    font-family: 'Gulzar', sans-serif;
}
.contact-styles{
    font-family: 'Gulzar', sans-serif;
}
.moreinfo-styles{
    font-family: 'Gulzar', sans-serif;
}
.register-styles{
    font-family: 'Gulzar', sans-serif;
}
.forgotpassword-styles{
    font-family: 'Gulzar', sans-serif;
}
.login-styles{
    font-family: 'Gulzar', sans-serif;
}
.privacypolicy-styles{
    font-family: 'Gulzar', sans-serif;
}
.terms-styles{
    font-family: 'Gulzar', sans-serif;
}
.header-styles{
    font-family: 'Fustat', sans-serif;
}
